mixin docTable(doc)
  table
    tr
      th Command
        th Description
      each c in doc
        tr
          td
            if c.command === DEFAULT_HANDLER_KEY
              em No Matching Command
            else if c.command === NOTHING_HANDLER_KEY
              em No Input
            else
              strong= c.command
          if typeof c.doc === 'object'
            td
              +docTable(c.doc)
          else
            td= c.doc

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title= "neh commands"
    link(rel='search', type='application/opensearchdescription+xml', title='Neh', href='/_opensearch')
    style.
      body {
        font-family: sans-serif;
      }
      table {
        border-collapse: collapse;
      }
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
  body
    h1 neh command list
    +docTable(doc)
    p
      | Source code available on
      |
      a(href='/?=ghr') GitHub
      | .
