version: 2

jobs:
  build:
    working_directory: ~/neh
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-node-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - v2-node-{{ arch }}-{{ .Branch }}-
            - v2-node-{{ arch }}-
      - run:
          name: Install Dependencies
          command: yarn --frozen-lockfile --cache-folder ~/.cache/yarn --non-interactive
      - save_cache:
          key: v2-node-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - node_modules
      - run:
          name: Typecheck Code
          command: yarn typecheck
      - run:
          name: Run Linters
          command: yarn lint
      - run:
          name: Test code
          environment:
            NODE_ENV: test
          command: |
            set -e
            yarn test
            yarn codecov --disable=gcov -f ./coverage/coverage-final.json
      - store_test_results:
          path: test-reports

  deploy:
    working_directory: ~/neh
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-node-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - v2-node-{{ arch }}-{{ .Branch }}-
            - v2-node-{{ arch }}-
      - run: yarn run publish

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          # filters:
          #   branches:
          #     only: master
          context: neh-cf-deploy
