version: 2

restore_cache: &restore_node_deps
  name: Restore node_modules cache
  keys:
    - v2-node-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
    - v2-node-{{ arch }}-{{ .Branch }}-
    - v2-node-{{ arch }}-

save_cache: &save_node_deps
  name: Save node_modules cache
  key: v2-node-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
  paths:
    - ~/.cache/yarn
    - node_modules

jobs:
  build:
    working_directory: ~/neh
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache: *restore_node_deps
      - run:
          name: Install Dependencies
          command: yarn --frozen-lockfile --non-interactive
      - save_cache: *save_node_deps
      - run:
          name: Typecheck Code
          command: yarn typecheck
      - run:
          name: Run Linters
          command: yarn lint
      - run:
          name: Test code
          environment:
            NODE_ENV: test
          command: |
            set -e
            yarn test
            yarn codecov --disable=gcov -f ./coverage/coverage-final.json
      - store_test_results:
          path: reports
