mixin docTable(doc, nested)
  table.text-left.w-full.sm_px-4
    thead.uppercase.text-xs.text-gray-700.tracking-wide
      tr
        th.p-3 Command
        th.p-3 Description
    tbody
      each c in doc
        tr(class= nested ? 'hover_bg-gray-200' : 'odd_bg-gray-100')
          td.px-3.align-text-top
            if c.command === DEFAULT_HANDLER_KEY
              em.py-3.sticky.top-0 No Matching Command
            else if c.command === NOTHING_HANDLER_KEY
              em.py-3.sticky.top-0 No Input
            else
              strong.py-3.sticky.top-0= c.command
          if typeof c.doc === 'object'
            td.align-text-top
              +docTable(c.doc, true)
          else
            td.p-3.align-text-top= c.doc

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title= "neh commands"
    link(rel='search', type='application/opensearchdescription+xml', title='Neh', href='/_opensearch')
    style
      #{css}
  body
    div.py-10.max-w-3xl.mx-auto
      h1.px-3.font-black.leading-none.text-6xl.mt-10 NEH
      hr.px-3.my-6
      +docTable(doc, false)
      p.px-3.mt-10.text-gray-500.text-sm
        | Source code available on
        |
        a(href='/?=ghr') GitHub
        | .
